* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body {
   background-color: #e4e1e1;
   font-family: "Montserrat", serif;
   height: 100dvh;
   margin-bottom: 40px;
   overflow-x: hidden;
}

.roboto-regular {
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: normal;
}

.hamburguesa {
   display: none;
   cursor: pointer;
   z-index: 1000; 
}

.material-symbols-outlined {
   transition: 0.3s;
}

nav {
   background-color: rgb(255, 255, 255);
   height: 3.125rem;
   width: 100%;
   display: flex;
   border-top: 1px solid #dad7d7;
   justify-content: center;
   z-index: 1000;
   position: relative;
}

.container  {
   display: flex;
   justify-content: center;
   height: 6.25rem;
   background-color: #fff;
   
}
 .nav ul {
   display: flex;
   margin-right: 1.25rem;
}

.nav ul li {
   padding: 0px 1.25rem;
   align-content: center; 
}

ul.nav-list li:hover a{
   color: black;
}

.nav li a{
   color: rgb(93, 93, 93);
   text-transform: uppercase;
}

.nav ul .contador {
   padding: 0;
}

#contador {
   border-radius: 50%;
   font-family: 'Roboto';
   font-size: small;
}

.nav ul li:nth-child(6) {
   padding-right: 0;
}


.carrito-titulo {
   text-align: center;
   padding: 2rem;
   text-transform: uppercase;
}

.material-symbols-outlined {
   cursor: pointer;
}

button {
   padding: 1em;
   margin: 5px;
   border: none;
}

button:hover {
   background-color: #e4e1e1;
   cursor: pointer;
}

td, th {
   padding: 50px;
   background-color: white;
   text-transform: uppercase;
}




#contador {
   border-radius: 50%;
   padding-bottom: 50px;
   font-family: 'Roboto';
   font-size: small;
}

.nav ul li:nth-child(6) {
   padding-right: 0;
}

footer {
   background-color: #4f8993;
   color: #fff
}


footer h2, footer div a{
   color: #fff;
}

footer .top-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   padding: 30px;
   justify-content: center;
   justify-items: center;
   align-items: center;
}

.box-1 a img {
   height: 6.25rem;
   filter: invert();
}

.box-2 p {
   padding: .1rem;
}

.box-3 a {
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-top: 15px;
   font-size: 1.5rem;
}

footer span {
   display: block;
   text-align: center;
   padding: 2rem;
}

.bottom-footer {
   border-top: 1px solid rgb(66, 63, 63);
}


.titulo-h2 {
   color: rgb(52, 52, 52);
   text-align: center;
   padding: 2rem;
      font-family: "Roboto", serif;
      font-weight: 600;
      font-size: 30px;
      font-style: italic;
}

.responsive-table { 
   width: 100%; 
   border-collapse: collapse; 
   /* display: flex;
   align-items: center;
   flex-direction: column;
   padding: 2rem;
   padding-top: 0; */
} 

.responsive-table th, .responsive-table td { 
   padding: 8px; 
   text-align: left; 
   border: 1px solid #ddd; 
}

@media only screen and (max-width: 800px) {

.responsive-table thead { 
   display: none; 
   
} 

.responsive-table td { 
   display: block; 
   width: 100%; 
   box-sizing: border-box; 

} .responsive-table tr { 
   display: block; 
   margin-bottom: 15px; 
}

   .nav ul li {
      padding: 1rem;
   }
   .nav li a {
      font-size: 1rem;
   }
   
   .lista-footer-ul {
      margin-bottom: 1rem;
   }
}

@media only screen and (max-width: 768px) {

   .cards {
       grid-template-columns: repeat(1, 1fr);
   }

   footer .top-footer {
       grid-template-columns: repeat(1, 1fr);
   }

   .nav ul {
       display: none;
       flex-direction: column;
       background-color: rgb(255, 255, 255);
       position: absolute;
       top: 3.125rem;
       width: 100%;
       left: 0;
       text-align: center;
       z-index: 1000;
       margin: 0;
   }

   nav {
      align-items: center;
   }

   .nav ul li {
      padding: 1rem;
      border-bottom: 1px solid #dad7d7;
      text-align: center;
   }

   .material-symbols-outlined { 
      display: flex;
      flex-direction: column;
   }

 li #contador {
      display: flex;
      flex-direction: column;
 }

 .nav ul li:nth-child(6) {
   padding-right: 16px;
}

   .nav.open ul {
       display: flex;
   }

   .hamburguesa {
       display: block;
   }
}

@media only screen and (max-width: 675px) {
   .section-nav {
       grid-template-columns: none;
       gap: 2rem;
   }
}

@media only screen and (max-width: 551px) {
   .cards {
       grid-template-columns: repeat(1, 1fr);
   }
}