* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body {
   background-color: #e4e1e1;
   font-family: "Montserrat", serif;
   
   height: 100dvh;
   margin-bottom: 40px;
}

nav {
   background-color: rgb(255, 255, 255);
   height: 3.125rem;
   width: 100%;
   display: flex;
   border-top: 1px solid #dad7d7;
   justify-content: center;
}

.container  {
   display: flex;
   justify-content: center;
   height: 6.25rem;
   background-color: #fff;
   
}
 .nav ul {
   display: flex;
   margin-right: 1.25rem;
}

.nav ul li {
   padding: 0px 1.25rem;
   align-content: center; 
}

ul.nav-list li:hover a{
   color: black;
}

.nav li a{
   color: rgb(93, 93, 93);
   text-transform: uppercase;
}

li.Contacto {
   font-weight: bolder;
   border-bottom: 2px solid black;
}

li.Contacto a {
   color: black;
}

.Contacto a {
   color: black;
} 

h1 {
   text-align: center;
   padding: 2rem;
}


.form-section {
   display: flex;
   justify-content: center;
   margin:  50px;
}

#formulario{
   padding: 3em;
   background-color: rgb(255, 255, 255);
   width: 100%;
   max-width: 400px;
   border-radius: 1.5rem;
   border: solid 2px transparent;
   background-clip: padding-box;
   box-shadow: 10px 10px 10px #2e364408;
}

label {
   display: block;
   margin-bottom: .5rem;
   text-transform: uppercase;
   font-size: .8rem;
   letter-spacing: .5px;
   margin-top: .5rem;
   color: rgb(69, 69, 69);
}

input, textarea, button {
   padding: .8em 1em;
   border-radius: 5px;
   border: none;
   background-color: transparent;
   width: 100%;
   background-color: #f3f4f6;
   font-size: 1.2rem;
   color: rgb(49, 48, 48);
   letter-spacing: .5px;
   outline: none;
   font-family: 'Roboto', sans-serif;
}

button {
   text-transform: uppercase;
   background-color: #302951;
   margin-top: .5rem;
   color: white;
}

textarea {
   resize: none;
}

::placeholder {
   color: #4d5567;
   font-size: 1rem;
}

button:hover {
   background-color: #20193e;
   cursor: pointer;
}

h2 {
   color: #4d5567;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
   letter-spacing: .3px;
}

footer {
   background-color: #302951;
   padding: 40px 15px 0;
   color: #fff;
   bottom: 0;
}

footer p {
   margin: 0 0 2rem;
   font-size: 1rem;

}

footer h2, footer div a{
   color: #fff;
}

.top-footer {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.lista-footer-ul {
   display: grid;
   column-gap: 3rem;
   row-gap: .5rem;
   grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
}

.lista-footer h2 {
   text-align: center;
   padding: 0 15px 15px;
   font-size: 1.5rem;
}

.top-footer-aboutme {
   margin: 50px;
}

footer span {
   display: block;
   text-align: center;
   padding: 2rem;
}

.bottom-footer {
   border-top: 1px solid rgb(66, 63, 63);
}

.lista-footer-ul li {
   display: flex;
   justify-content: center;
}

.titulo-h2 {
   color: rgb(52, 52, 52);
   text-align: center;
   background-color: #dbe7ec;
   padding: 2rem;
}

@media only screen and (max-width: 768px) {


   .nav ul li {
      padding: 1rem;
   }
   .nav li a {
      font-size: 10px;
   }
   
   .lista-footer-ul {
      margin-bottom: 1rem;
   }
}