* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body {
   background-color: #e4e1e1;
   font-family: "Montserrat", serif;
   height: 100dvh;
   margin-bottom: 40px;
   overflow-x: hidden;
}

.roboto-regular {
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: normal;
}

.hamburguesa {
   display: none;
   cursor: pointer;
   z-index: 1000; 
}

.material-symbols-outlined {
   transition: 0.3s;
}
nav {
   background-color: rgb(255, 255, 255);
   height: 3.125rem;
   width: 100%;
   display: flex;
   border-top: 1px solid #dad7d7;
   justify-content: center;
   z-index: 1000;
   position: relative;
}
.nav ul .contador {
   padding: 0;
}

#contador {
   border-radius: 50%;
   font-family: 'Roboto';
   font-size: small;
}

.nav ul li:nth-child(6) {
   padding-right: 0;
}
.container  {
   display: flex;
   justify-content: center;
   height: 6.25rem;
   background-color: #fff;
   
}
 .nav ul {
   display: flex;
   margin-right: 1.25rem;
}

.nav ul li {
   padding: 0px 1.25rem;
   align-content: center; 
}

ul.nav-list li:hover a{
   color: black;
}

.nav li a{
   color: rgb(93, 93, 93);
   text-transform: uppercase;
}

li.Contacto {
   font-weight: bolder;
   border-bottom: 2px solid black;
}

li.Contacto a {
   color: black;
}

.Contacto a {
   color: black;
} 

h1 {
   text-align: center;
   padding: 2rem;
}


.form-section {
   display: flex;
   justify-content: center;
   margin:  50px;
}

#formulario{
   padding: 3em;
   background-color: rgb(255, 255, 255);
   width: 100%;
   max-width: 400px;
   border-radius: 1.5rem;
   border: solid 2px transparent;
   background-clip: padding-box;
   box-shadow: 10px 10px 10px #2e364408;
}

#error-nombre, #error-email, #error-mensaje{
   color: red;
   font-size: .8rem;
}

label {
   display: block;
   margin-bottom: .5rem;
   text-transform: uppercase;
   font-size: .8rem;
   letter-spacing: .5px;
   margin-top: .5rem;
   color: rgb(69, 69, 69);
}
.nav ul span {
   display: flex;
}

input, textarea, button {
   padding: .8em 1em;
   border-radius: 5px;
   border: none;
   background-color: transparent;
   width: 100%;
   background-color: #f3f4f6;
   font-size: 1.2rem;
   color: rgb(49, 48, 48);
   letter-spacing: .5px;
   outline: none;
   font-family: 'Roboto', sans-serif;
}

button {
   text-transform: uppercase;
   background-color: #302951;
   margin-top: .5rem;
   color: white;
}
textarea {
   resize: none;
}

::placeholder {
   color: #4d5567;
   font-size: 1rem;
}

button:hover {
   background-color: #20193e;
   cursor: pointer;
}

.titulo-form {
   color: #4d5567;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
   letter-spacing: .3px;
}

footer {
   background-color: #4f8993;
   color: #fff
}


footer h2, footer div a{
   color: #fff;
}

footer .top-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   padding: 30px;
   justify-content: center;
   justify-items: center;
   align-items: center;
}

.box-1 a img {
   height: 6.25rem;
   filter: invert();
}

.box-2 p {
   padding: .1rem;
}

.box-3 a {
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-top: 15px;
   font-size: 1.5rem;
}

.nav ul .contador {
   padding: 0;
}

#contador {
   border-radius: 50%;
   font-family: 'Roboto';
   font-size: small;
}

.nav ul li:nth-child(6) {
   padding-right: 0;
}


footer span {
   display: block;
   text-align: center;
   padding: 2rem;
}

.bottom-footer {
   border-top: 1px solid rgb(66, 63, 63);
}


.titulo-h2 {
   color: rgb(52, 52, 52);
   text-align: center;
   padding: 2rem;
      font-family: "Roboto", serif;
      font-weight: 600;
      font-size: 30px;
      font-style: italic;
}

@media only screen and (max-width: 768px) {

   footer .top-footer {
       grid-template-columns: repeat(1, 1fr);
   }

   .nav ul {
       display: none;
       flex-direction: column;
       background-color: rgb(255, 255, 255);
       position: absolute;
       top: 3.125rem;
       width: 100%;
       left: 0;
       text-align: center;
       z-index: 1000;
       margin: 0;
   }

   nav {
      align-items: center;
   }

   .nav ul li {
      padding: 1rem;
      border-bottom: 1px solid #dad7d7;
      text-align: center;
   }

   .material-symbols-outlined { 
      display: flex;
      flex-direction: column;
   }

 li #contador {
      display: flex;
      flex-direction: column;
 }

 .nav ul li:nth-child(6) {
   padding-right: 16px;
}

   .nav.open ul {
       display: flex;
   }

   .hamburguesa {
       display: block;
   }
}

@media only screen and (max-width: 675px) {
   .section-nav {
       grid-template-columns: none;
       gap: 2rem;
   }
}

@media only screen and (max-width: 551px) {
   #formulario h2 {
      font-size: 1rem;
    }
}


