* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body {
   background-color: #e4e1e1;
   font-family: "Montserrat", serif;
   width: 100dvw;
   height: 100dvh;
   margin-bottom: 40px;
}

nav {
   background-color: rgb(255, 255, 255);
   height: 3.125rem;
   width: 100%;
   display: flex;
   border-top: 1px solid #dad7d7;
   justify-content: center;
}

.container  {
   display: flex;
   justify-content: center;
   height: 6.25rem;
   background-color: #fff;
   
}
 .nav ul {
   display: flex;
   margin-right: 1.25rem;
}

.nav ul li {
   padding: 0px 1.25rem;
   align-content: center; 
}

ul.nav-list li:hover a{
   color: black;
}

.nav li a{
   color: rgb(93, 93, 93);
   text-transform: uppercase;
}

li.Reseñas {
   font-weight: bolder;
   border-bottom: 2px solid black;
}

li.Reseñas a {
   color: black;
}

.Reseñas a {
   color: black;
} 

h2 {
   text-align: center;
   padding: 50px;
   color: #302d3c;
   text-transform: uppercase;
}

.fa-sharp, .fa-solid, .fa-regular {
   color: rgb(255, 204, 0);
}

img {
   height: 100px;
   border-radius: 50%;
   padding-top: 20px;
}

.cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   justify-content: center;
   gap: 2rem;
   flex-wrap: wrap;
   margin: 0 100px 100px 100px;
}

.cards-1, .cards-2, .cards-3, .cards p {
   text-align: center;
   background-color: #fff;
   padding: 20px;
   border-radius: 2%;
}

.cards-1:hover, .cards-2:hover, .cards-3:hover {
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h4 {
   text-transform: uppercase;
   margin: 20px 0;
}

.cards-1 {
   row-gap: 10px;
}

footer {
   background-color: #302951;
   padding: 40px 15px 0;
   color: #fff;
   bottom: 0;
}

footer p {
   margin: 0 0 2rem;
   font-size: 1rem;

}

footer h2, footer div a{
   color: #fff;
}

.top-footer {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.lista-footer-ul {
   display: grid;
   column-gap: 3rem;
   row-gap: .5rem;
   grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
}

.lista-footer h2 {
   text-align: center;
   padding: 0 15px 15px;
   font-size: 1.5rem;
}

.top-footer-aboutme {
   margin: 50px;
}

footer span {
   display: block;
   text-align: center;
   padding: 2rem;
}

.bottom-footer {
   border-top: 1px solid rgb(66, 63, 63);
}

.lista-footer-ul li {
   display: flex;
   justify-content: center;
}

.titulo-h2 {
   color: rgb(52, 52, 52);
   text-align: center;
   background-color: #dbe7ec;
   padding: 2rem;
}