* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body {
   background-color: #f3f4f6;
   font-family: "Montserrat", serif;
   height: 100dvh;
   overflow-x: hidden;
}

.roboto-regular {
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: normal;
}

.hamburguesa {
   display: none;
   cursor: pointer;
   z-index: 1000; 
}

.material-symbols-outlined {
   transition: 0.3s;
}

nav {
   background-color: rgb(255, 255, 255);
   height: 3.125rem;
   width: 100%;
   display: flex;
   border-top: 1px solid #dad7d7;
   justify-content: center;
   z-index: 1000;
   position: relative;
}

.container  {
   display: flex;
   justify-content: center;
   height: 6.25rem;
   background-color: #fff;
   
}
 .nav ul {
   display: flex;
   margin-right: 1.25rem;
}

.nav ul li {
   padding: 0px 1.25rem;
   align-content: center; 
}

ul.nav-list li:hover a{
   color: black;
}

.nav ul .contador {
   padding: 0;
}

#contador {
   border-radius: 50%;
   font-family: 'Roboto';
   font-size: small;
}

.nav ul li:nth-child(6) {
   padding-right: 0;
}

.nav li a{
   color: rgb(93, 93, 93);
   text-transform: uppercase;
}

li.Reseñas {
   font-weight: bolder;
   border-bottom: 2px solid black;
}

li.Reseñas a {
   color: black;
}

.Reseñas a {
   color: black;
} 

.clientes-titulo {
   text-align: center;
   padding: 50px;
   color: #302d3c;
   text-transform: uppercase;
}

.fa-sharp, .fa-solid, .fa-regular {
   color: rgb(255, 204, 0);
}

.cards img {
   height: 100px;
   border-radius: 50%;
   padding-top: 20px;
}

.cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   justify-content: center;
   gap: 2rem;
   margin: 0 100px 100px 100px;
}

.cards-1, .cards-2, .cards-3, .cards p {
   text-align: center;
   background-color: #fff;
   padding: 20px;
   border-radius: 2%;

}

.cards-1:hover, .cards-2:hover, .cards-3:hover {
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h4 {
   text-transform: uppercase;
   margin: 20px 0;
}

.cards-1 {
   row-gap: 10px;
}
.nav ul span {
   display: flex;
}
footer {
   background-color: #4f8993;
   color: #fff
}


footer h2, footer div a{
   color: #fff;
}

footer .top-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   padding: 30px;
   justify-content: center;
   justify-items: center;
   align-items: center;
}

.box-1 a img {
   height: 6.25rem;
   filter: invert();
}

.box-2 p {
   padding: .1rem;
}

.box-3 a {
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-top: 15px;
   font-size: 1.5rem;
}

footer span {
   display: block;
   text-align: center;
   padding: 2rem;
}

.bottom-footer {
   border-top: 1px solid rgb(66, 63, 63);
}


.titulo-h2 {
   color: rgb(52, 52, 52);
   text-align: center;
   padding: 2rem;
      font-family: "Roboto", serif;
      font-weight: 600;
      font-size: 30px;
      font-style: italic;
}

@media only screen and (max-width: 800px) {

   .lista-footer-ul {
      display: grid;
      column-gap: 3rem;
      row-gap: .5rem;
      grid-template-columns: auto auto;
      margin-bottom: 1rem;
   }



   .nav ul li {
      padding: 1rem;
   }
   .nav li a {
      font-size: 1rem;
   }
   
}

@media only screen and (max-width: 768px) {

   footer .top-footer {
       grid-template-columns: repeat(1, 1fr);
   }

   .nav ul {
       display: none;
       flex-direction: column;
       background-color: rgb(255, 255, 255);
       position: absolute;
       top: 3.125rem;
       width: 100%;
       left: 0;
       text-align: center;
       z-index: 1000;
       margin: 0;
   }

   nav {
      align-items: center;
   }

   .nav ul li {
      padding: 1rem;
      border-bottom: 1px solid #dad7d7;
      text-align: center;
   }

   .material-symbols-outlined { 
      display: flex;
      flex-direction: column;
   }

 li #contador {
      display: flex;
      flex-direction: column;
 }

 .nav ul li:nth-child(6) {
   padding-right: 16px;
}

   .nav.open ul {
       display: flex;
   }

   .hamburguesa {
       display: block;
   }
}

@media only screen and (max-width: 675px) {
   .section-nav {
       grid-template-columns: none;
       gap: 2rem;
   }
}