* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body {
   background-color: #ffffff;
   font-family: "Montserrat", serif;
   height: 100dvh;
   overflow-x: hidden;
}

.roboto-regular {
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: normal;
}

.hamburguesa {
   display: none;
   cursor: pointer;
   z-index: 1000; 
}

.material-symbols-outlined {
   transition: 0.3s;
}

nav {
   background-color: rgb(255, 255, 255);
   height: 3.125rem;
   width: 100%;
   display: flex;
   border-top: 1px solid #dad7d7;
   justify-content: center;
   z-index: 1000;
   position: relative;
}

.container  {
   display: flex;
   justify-content: center;
   height: 6.25rem;
   background-color: #fff;
   
}
.nav ul {
   display: flex;
   margin-right: 1.25rem;
   flex-wrap: wrap;
}

.nav ul li {
   padding: 0px 1.25rem;
   align-content: center; 
}

ul.nav-list li:hover a{
   color: black;
}

.nav li a{
   color: rgb(93, 93, 93);
   text-transform: uppercase;
}

li.Nosotros {
   font-weight: bolder;
   border-bottom: 2px solid black;
}

li.Nosotros a {
   color: black;
}

.Nosotros a {
   color: black;
} 

.nav ul .contador {
   padding: 0;
}

#contador {
   border-radius: 50%;
   font-family: 'Roboto';
   font-size: small;
}

.nav ul li:nth-child(6) {
   padding-right: 0;
}

.section-principal{
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url("../images/rolex.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 20dvh;
   color: #fff;
   font-size: 2rem;
   text-align: center;
}

.seccion h4 {
   padding-top: 50px;
   text-align: center;
   color: #ffc800;
   text-transform: uppercase;
}

.nav ul span {
   display: flex;
}

.seccion h1 {
   color: #2e2d30 ;
   text-align: center;
   padding-top: 1rem;
   font-size: 2rem;
}

.seccion p {
   padding: 1rem 20%;
   text-align: center;
}

#last {
   padding-bottom: 3rem;
}

.section-principal p {
   padding-top: 10px;
}

img.pic {
   width: 50%;
   margin: auto;
   display: flex;
}

button {
   padding: 10px 25px;
   margin-top: 0.5rem;
   color: #fff;
   background-color: rgb(53, 152, 209);
   border: none;
}

button:hover {
   background-color: rgb(29, 120, 173);
   cursor: pointer;
}

footer {
   background-color: #4f8993;
   color: #fff
}


footer h2, footer div a{
   color: #fff;
}

footer .top-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   padding: 30px;
   justify-content: center;
   justify-items: center;
   align-items: center;
}

.box-1 a img {
   height: 6.25rem;
   filter: invert();
}

.box-2 p {
   padding: .1rem;
}

.box-3 a {
   display: inline-block;
   width: 45px;
   height: 45px;
   margin-top: 15px;
   font-size: 1.5rem;
}

footer span {
   display: block;
   text-align: center;
   padding: 2rem;
}

.bottom-footer {
   border-top: 1px solid rgb(66, 63, 63);
}


.titulo-h2 {
   color: rgb(52, 52, 52);
   text-align: center;
   padding: 2rem;
      font-family: "Roboto", serif;
      font-weight: 600;
      font-size: 30px;
      font-style: italic;
}

@media only screen and (max-width: 768px) {

   .section-principal{
      font-size: 2rem;
      padding: 50% 25px;
      text-transform: uppercase;
      background-size: cover;
   }


   footer .top-footer {
      grid-template-columns: repeat(1, 1fr);
  }

  .nav ul {
      display: none;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 3.125rem;
      width: 100%;
      left: 0;
      text-align: center;
      z-index: 1000;
      margin: 0;
  }

  nav {
     align-items: center;
  }

  .nav ul li {
     padding: 1rem;
     border-bottom: 1px solid #dad7d7;
     text-align: center;
  }

  .material-symbols-outlined { 
     display: flex;
     flex-direction: column;
  }

li #contador {
     display: flex;
     flex-direction: column;
}

.nav ul li:nth-child(6) {
  padding-right: 16px;
}

  .nav.open ul {
      display: flex;
  }

  .hamburguesa {
      display: block;
  }  
  
  img.pic {
      width: 90%;
   }
   .seccion p {
      font-size: 1.5rem;
      padding: 1rem;
   }
}

 



   @media only screen and (max-width: 768px) {

       .section-principal {
      padding: 15dvh 5dvw;
      background-size: 100vh 100dvw;
   }

   
      footer .top-footer {
          grid-template-columns: repeat(1, 1fr);
      }
   
      .nav ul {
          display: none;
          flex-direction: column;
          background-color: rgb(255, 255, 255);
          position: absolute;
          top: 3.125rem;
          width: 100%;
          left: 0;
          text-align: center;
          z-index: 1000;
          margin: 0;
      }
   
      nav {
         align-items: center;
      }
   
      .nav ul li {
         padding: 1rem;
         border-bottom: 1px solid #dad7d7;
         text-align: center;
      }
   
      .material-symbols-outlined { 
         display: flex;
         flex-direction: column;
      }
   
    li #contador {
         display: flex;
         flex-direction: column;
    }
   
    .nav ul li:nth-child(6) {
      padding-right: 16px;
   }
   
      .nav.open ul {
          display: flex;
      }
   
      .hamburguesa {
          display: block;
      }
   }
   
   @media only screen and (max-width: 675px) {
      .section-nav {
          grid-template-columns: none;
          gap: 2rem;
      }
   }
   
   @media only screen and (max-width: 551px) {
      .cards {
          grid-template-columns: repeat(1, 1fr);
      }
   }
   